@using SchroderProductions.Controllers.Database
@model Festival
@{
    ViewData["Title"] = "Festival Detail";
}
<p>Festival:@Model.Naam - Prijs €@Model.Prijs - Plaats:@Model.Plaats</p>
<img src="@Model.Afbeelding" />
<img src="@Model.Logo" />