<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="site.css">
    <h1>Schroder Productions</h1>
    <p>Schroder Productions is een organisatie die, onder anderen, zich bezig houdt met het verhuren van festival terreinen. 
    Bent u op zoek naar de mooiste festival locatie in Nederland? Dan bent u bij ons op het goede adres! Gelegen in de natuur op een sensationele plek.
    Ons terrein biedt een spectaculaire ervaring voor alle soort evenementen. Gratis parkeren en biedt ruimte voor tussen de 500-1000 bezoekers.
    Meer informatie over prijzen en data? Stuur ons een mail of bel 06-24326325 voor alle vragen.


    </p>
    <h3>Show me what's on</h3>
    <p>This is a paragraph.</p>
    <h3>Book a venue </h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
</body>
</html>
