@model List<string>
@{ 
    ViewData["Title"] = "Home Page";
} 

<div class="text-center">
    <h1>Alle namen!</h1>
    @foreach(string naam in Model)
    {
        <p>@naam</p>
    }
</div>
    <h1>Schroder Productions</h1>
    <p>
        Schroder Productions is een organisatie die, onder anderen, zich bezig houdt met het verhuren van festival terreinen.
        Bent u op zoek naar de mooiste festival locatie in Nederland? Huur je festivallocatie bij Schroder Productions,
        en beleef de mooiste tijd van je leven. Met gratis parkeren 100 meter van het terrein
        In de zomer en in de winter is het terrein volledig in sfeer.
        In de winter naar een Winter Wonderland thema en in de zomer heerst er een relaxte beachclub sfeer.
        Kom je snel langs om ons terrein te bezoeken?
    <h2>Terrein informatie</h2>
    <p>
        Recreatiegebied Spaarnwoude is een recreatiegebied in de Nederlandse provincie Noord-Holland, 
        genoemd naar het dorp Spaarnwoude in de gemeente Haarlemmermeer, en voormalige gemeente Haarlemmerliede en Spaarnwoude.
        Het gebied heeft een oppervlakte van 3000 hectare en wordt beheerd door het Recreatieschap Spaarnwoude, 
        een bij gemeenschappelijke regeling ingesteld openbaar lichaam.
        Het grootste deel ligt in de gemeente Velsen, ten noordwesten van zijkanaal C, tussen Spaarndam en Velsen. 
        Een kleiner deel (Houtrak) ligt in het zuidoosten, in de gemeente Haarlemmerliede en Spaarnwoude, Halfweg. 
        Tot hetzelfde Recreatieschap behoort De Groene Weelde tussen Haarlem en Hoofddorp. Het wordt wel Spaarnwoude Zuid genoemd.


    </p>
   

